<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link media='print' rel="stylesheet" type="text/css" href="../resources/css/print.css">
	<link media='screen' rel="stylesheet" type="text/css" href="../resources/css/slides.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/syntax.css">
</head>
<body>
{{ content }}
<div id="progress-bar"></div>
<script src="../resources/js/slides.js"></script>
<script>

initSlides();
</script>
</body>
</html>
